---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Test for BambooHR</title>
	</head>
	<body>
		<h1>Home page</h1>
		<div id="BambooHR" data-domain="alviere.bamboohr.com" data-version="1.0.0" data-departmentId=""></div>
		<script src="https://alviere.bamboohr.com/js/embed.js" type="text/javascript" async defer></script>
		<a href="/other-page">Other page</a>
	</body>
</html>
